.confirmation-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}
  
.confirmation-container h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #333;
}
  
.method,
.takeaway-address {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
  
.delivery-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
}
  
.delivery-form label {
  font-weight: bold;
}
  
.delivery-form input {
  padding: 0.9rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 1rem; 
}
  
.map-wrapper {
  height: 300px;
  margin-top: 1rem;
  border-radius: 8px;
  overflow: hidden;
}
  
.confirm-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
  
.confirm-button:hover {
  background-color: #333;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
  
.method-toggle {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
  
  
.method-option {
  flex: 1;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  font-weight: bold;
  border-right: 1px solid #ccc;
}
  
.method-option:last-child {
  border-right: none;
}
  
.method-option.active {
  background-color: #e0e0e0; 
}

.order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}
  
.price-display {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
  
.price-amount {
  color: #000000;
}
  
.order-footer .confirm-button {
  margin-top: 0; 
  background-color: #007bff;
  transition: background-color 0.3s;
}
  
.order-footer .confirm-button:hover {
  background-color: #0056b3;
}

.primary-btn {
  background: #1f1f1f;
  color: white;
  font-weight: bold;
  padding: 14px;
  border: 2px solid #1f1f1f;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background 0.3s ease;
}
  
.primary-btn:hover {
  background: #5c2d91;
  color: white;
}
  
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
  
.modal-content {
  position: relative; 
  background: white;
  /* padding: 2rem; */
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}
  
  
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
  
.input-error {
  border: 2px solid red;
}
  
.error-message {
  color: red;
  margin-top: 4px;
  font-size: 0.9rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.transfer-msg {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #444;
}
  
.primary-btn:disabled {
  background: #aaa;
  color: #eee;
  cursor: not-allowed;
  border-color: #aaa;
}

.secondary-btn:disabled {
  background: #ddd;
  color: #888;
  cursor: not-allowed;
  border-color: #ccc;
}
  
.modal-btn {
  font-weight: bold;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.modal-btn.cancel {
  background-color: #f2f2f2;
  color: #444;
  border: 1px solid #ccc;
  margin: 0 0 1rem 1rem;
}

.modal-btn.cancel:hover {
  background-color: #e0e0e0;
}

.modal-btn.confirm {
  background-color: #1f1f1f;
  color: white;
  border: 2px solid #1f1f1f;
  margin: 0 1rem 1rem  0 ;

}

.modal-btn.confirm:hover {
  background-color: #5c2d91;
  color: white;
}

.modal-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

  
@media (max-width: 768px) {
  .confirmation-container {
    margin: 0;
    padding: 0 2rem 1rem 2rem;
  }

  .confirmation-container h2 {
    font-size: 1.7rem;
  }
} 