/* src/pages/OrderSuccess.css */
.order-success-container {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .order-details {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
    text-align: center;
  }
  
  .transfer-info {
    background-color: #fff3cd;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 12px;
    border: 1px solid #ffeeba;
  }
  